.banner{
	background-color: whitesmoke;
	color: hotpink;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;

}
.banner h1{
	font-size: 50px;
	font-family: Apple Chancery, cursive;
	text-shadow: 1px 1px 2px black;

}
